body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

game-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

resources, #actions {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.action-button {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
}

clickHistory {
    margin-top: 20px;
}
