body {
            font-family: survivant;
            background-color: #f5f5f5;
            background-image: tree-bg-blue.gif;
            margin: 0;
            padding: 0;
        }

        .header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            font-size: 16px;
            line-height: 1.6;
            color: #333;
        }

        h1, h2 {
            margin: 10px 0;
            font-weight: bold;
            text-transform: uppercase;
            font-family: survivant;
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .image {
            margin: 10px;
            width: 150px;
            font-size: 14px;
            display: block;
            width: 20%;
            height: auto;
            border-radius: 8px;
        }

        .image a {
            display: block;
            text-align: center;
            text-decoration: none;
            color: #333;
            padding: 10px;
            background-color: #fff;
            border-radius: 8px;
            transition: background-color 0.3s ease;
        }

        .image a:hover {
            background-color: #f0f0f0;
        }

        .image span {
            display: block;
            margin-top: 5px;
        }
