body {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.action-button {
    background-color: #ADD8E6; /* Change the background color as needed */
    border: none;
    color: white;
    padding: 15px 15px 30px 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column; /* Updated to column direction */
    align-items: center;
    font-size: 20px;
    margin: 4px 4px 2px 2px;
    cursor: pointer;
    position: relative;
}

.action-button img {
    width: 128px;
    height: 128px;
    display: block;
    margin: 0 auto;
}

.action-button span {
    margin-top: auto; /* Updated to move text to the top */
}

    <style>
        .navbar-desc {
            font-family: 'Roboto', sans-serif;
            padding-top: 12px;
            padding-right: 15px;
        }

        .page-header {
            padding: 10px;
        }

        .show-inline {
            background-color: #f0ebeb;
            display: inline-block;
            padding: 2px 5px 0 5px;
            margin: 2px;
            border: 2px solid #DDDDDDFF;
            border-radius: 5px;
        }

        .filters-checkbox {
            border-radius: 5px;
            height: 31px;
            color: white;
        }

        .filters-checkbox input[type="checkbox"] {
            display: none;
        }

        .filters-checkbox input[type="checkbox"]+.label-text {
            cursor: pointer !important;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .filters-checkbox input[type="checkbox"]+.label-text:before {
            content: "\f096";
            font-family: "FontAwesome";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 5;
            font-size: 18px;
            -webkit-font-smoothing: antialiased;
            width: 1em;
            display: inline-block;
            margin-right: 2px;
            vertical-align: -2px;
        }

        .filters-checkbox input[type="checkbox"]:checked+.label-text:before {
            content: "\f14a";
            color: #ffffff;
            animation: tick 180ms ease-in;
        }

        .filters-checkbox input[type="checkbox"]:disabled+.label-text {
            cursor: not-allowed !important;
        }

        .filters-checkbox input[type="checkbox"]:disabled+.label-text:before {
            content: "\f0c8";
            color: #000000;
        }

        .input-group, .input-group-text {
            width: 100%;
        }

        .input-group-prepend {
            width: 30%;
        }

        .sub-faucet-radio {
            background-color: #EAEAEAFF;
            border: 2px solid #C4C4C4FF;
            border-radius: 5px;
            padding: 0 5px 2px 25px;
            margin-right: 5px;
            margin-top: 5px;
        }

        .sub-faucet-radio label::before {
            margin: 0 0 2px 5px;
        }

        .sub-faucet-radio label::after {
            margin: 0 0 2px 5px;
        }
